<!DOCTYPE html>
<html>
<head>
<style>
.center {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
}
</style>
</head>
<body>

<h2>Nguyễn Thị Bích Hà</h2>
<p>2221050701:</p>

<div class="center">
  <p>NTBH</p>
</div>

</body>
</html>


