<!DOCTYPE html>
<html>
<head>
<style>
.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
</style>
</head>
<body>

<h1>Nguyễn thị Bích Hà</h1>
<p class="p1">2221050701.</p>
<p class="p2">nguyethibichha.</p>
<p class="p3">2221050701.</p>

</body>
</html>


