<!DOCTYPE html>
<html>
<head>
<style>
div {
  height: 70px;
  width: 100%;
  border: 1px solid #4CAF50;
  padding: 8px;
}
</style>
</head>
<body>

<h2>Nguyễn Thị Bish Hà</h2>

<div>2221050701.</div>

</body>
</html>


