<!DOCTYPE html>
<html>
<head>
<style>
a {
  color: hotpink;
  background-color: yellow;
  font-weight: bold;
}
</style>
</head>
<body>

<h1>Nguyễn Thị Bích Hà</h1>

<p><a href="default.asp" target="_blank">2221050701</a></p>

</body>
</html>


