<!DOCTYPE html>
<html>
<head>
<style>
div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body>

<div>
  <h1>Nguyễn Thị Bích Hà </h1>
  <p>Nguyễn Thị
  <a target="_blank" href="tryit.asp?filename=trycss_text">"Bích Hà"</a> 2221050701.</p>
</div>

</body>
</html>


