@model FirstWebMVC.Models.Entities.Product

@{
    ViewData["Title"] = "Xóa sản phẩm";
}

<h2>Xóa sản phẩm</h2>

<h4>Bạn có chắc muốn xóa không?</h4>

<div>
    <p><strong>Tên:</strong> @Model.ProductName</p>
    <p><strong>Giá:</strong> @Model.Price</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ProductId" />

    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>