@model IEnumerable<FirstWebMVC.Models.Entities.Student>

<h2>Danh sách Sinh viên</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Thêm sinh viên</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã SV</th>
            <th>Họ Tên SV</th>
            <th width="200">Actions</th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.StudentCode</td>
            <td>@item.FullName</td>
            <td>
                <a asp-action="Edit"
                   asp-route-id="@item.StudentCode"
                   class="btn btn-warning btn-sm">Edit</a>

                <a asp-action="Delete"
                   asp-route-id="@item.StudentCode"
                   class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>